.profile {
    padding: 30px;
}

.description{
    border-radius: 4px;
    padding: 15px;
margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color:lavenderblush;
}

.avatar{
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.name{
font-size: larger;
text-align: center;
margin-bottom: 0;
}

.tag{
text-align: center;
margin-top: 8px;
}

.location{
text-align: center;
margin-top: 16px;
}

.stats{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.listItem{
    display: flex;
    flex-direction: column;
}
